<h2>
    ようこそ
    <strong>Bookers</strong>
    へ！
</h2>

<p>
    <h5>
    <strong>Bookers</strong>
    では、さまざまな書籍に関するあなたの意見や
    </h5>
</p>

<p>
    <h5>印象を共有し交換することができます</h5>
</p>

<p>
    <a href="/books">start</a>
</p>