<h1>
    ようこそ
    <strong>Bookers</strong>
    へ！

<p>
    <h3>
    <strong>Bookers</strong>
    では、さまざまな書籍に関するあなたの意見や
    </h3>
</p>

<p>
    <h3>印象を共有し交換することができます</h3>
</p>

<p>
    <a href="/books/new">start</a>
</p>